<label class="">Rows: </label>
<div class="btn-group">
  <label class="btn btn-success" (click)="changeFormat('replacement', 'rows')" [(ngModel)]="rowBehaviour" btnRadio="replacement"
    tabindex="0" role="button">Replacement</label>
  <label class="btn btn-success" (click)="changeFormat('tabular', 'rows')" [(ngModel)]="rowBehaviour" btnRadio="tabular" tabindex="0"
    role="button">Tabular</label>
</div>

<label class="">Columns: </label>
<div class="btn-group">

  <label class="btn btn-info" (click)="changeFormat('nested', 'columns')" [(ngModel)]="columnBehaviour" btnRadio="nested" tabindex="0"
    role="button">Nested</label>
  <label class="btn btn-info" (click)="changeFormat('replacement', 'columns')" [(ngModel)]="columnBehaviour" btnRadio="replacement"
    tabindex="0" role="button">Replacement</label>
  <label class="btn btn-info" (click)="changeFormat('tabular', 'columns')" [(ngModel)]="columnBehaviour" btnRadio="tabular"
    tabindex="0" role="button">Tabular</label>
</div>

<div id="format"></div>


<div style="width: 100%; height: 500px;">
  <ag-grid-angular #agGrid style="width: 100%; height: 100%;" class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs"
    (columnGroupOpened)="columnGroupOpened($event)" [gridOptions]="gridOptions">
  </ag-grid-angular>

</div>
